{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<style>
    #TokaFitnessBox {
        width: 30vw; 
        height: 400px; 

        position: relative; 
        left: 55vw; 
        top: -400px; 

        background-color:white;
        text-align: center;
        border-bottom: #EFEFEF 5px solid;
    }

    #JoinButton  {
        background-color: forestgreen;
        font-size: 30px;
        color: #FFFFFF;
        border: 0px;

        position: relative;
        top: 200px;

        padding: 0.25cm;
        padding-left: 2.5cm;
        padding-right: 2.5cm;

        border-radius: 200px;
    }

    .SmallLink {
        background-color: forestgreen;
        font-size: 1.7rem;
        color: #FFFFFF;
        border: 0px;

        position: absolute;
        left: 2rem;
        right: 2rem;
        bottom: 1rem;

        padding: 0.1cm;
        padding-left: 1cm;
        padding-right: 1cm;

        border-radius: 200px;

        text-decoration: none;
    }

</style>

<div>
    <div style="width: 100%; height: 6cm; background-color:#EFEFEF; text-align: center;">
        <h1>Toka Fitness</h1>
        <h2>Slogan Here</h2>
    </div>
    <div style="width: 100%; height: 400px">
        <img src="/static/man_riding_bike.webp" style="width: 100%; height: 400px;">
        <div id="TokaFitnessBox" style="text-align: center">
            <h1>Toka Fitness</h1>
            Something Something i love toka fitness go sign up please
            <a href="/register">
                <button id="JoinButton">
                Join Now!
                </button>
            </a>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 5cm;">
    <div class="row">
        <!-- <div class="col">
            <div class="card" style="width: 24rem; margin:.5vw; height: 50vh;">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">Fitness Advice</h5>
                    <p class="card-text">Something about fitness advice here</p>
                    <a class="SmallLink" href="/advice/fitness">Find out more!</a>
                </div>
            </div>
        </div> -->
        <div class="col" style="display: flex; justify-content:center"> <!--  Advice Card -->
            <div class="card" style="width: 24rem; margin:.5vw; height: 50vh;">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">View our Advice!</h5>
                    <p class="card-text">Look at our vast collection of advice that you may need</p>
                    <a class="SmallLink" href="/advice">Find out more!</a>
                </div>
            </div>
        </div>
        <div class="col"  style="display: flex; justify-content:center">
            <div class="card" style="width: 24rem; margin:.5vw; height: 50vh;">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">Book Sessions!</h5>
                    <p class="card-text">Sessions that you can book riggghhtttt nowwww</p>
                    <a class="SmallLink" href="/sessions">Look at the sessions</a>
                </div>
            </div>
        </div>
        <!-- <div class="col">
            <div class="card" style="width: 24rem; margin:.5vw; height: 50vh;">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">Nutrition Advice</h5>
                    <p class="card-text">Something about nutritions here</p>
                    <a class="SmallLink" href="/advice/nutrition">Find out more!</a>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div style="height: 7rem;"></div>

{% endblock %}