{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
            <div id="alert" class="alert alter-dissmissable fade show {% if category == 'danger' %} alert-danger{% elif category == 'success' %} alert-success {% else %} alert-info {% endif %}">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class = "container">
        <form action="/register" method="POST">
            <h2 style="text-align:center;">This is the Registration page</h2>
            <p style="text-align:center;">User Name</p>
            <p style="text-align:center;"><input type="text" id="nm" name="nm" /></p>
            <p style="text-align:center;">Email</p>
            <p style="text-align:center;"><input type="text" id="email" name="email"/></p>
            <p style="text-align:center;">Password</p>
            <p style="text-align:center;"><input type="password" id="pword" name="pword"/></p>
            <p style="text-align:center;"><input type="submit" id="submit" name="submit"/></p>
        </form>   
    </div>

{% endblock content %}