{% extends "base.html" %}

{% block title %}Advice{% endblock %}

{% block content %}

<div style="padding: 5rem 10rem 0rem 10rem;">
    <h1>Advice</h1>
    <div style="display: flex; flex-direction:row;justify-content: space-between;">
        <form action = '/advice' method = 'POST' style="display: flex; flex-direction:row;">
            
            {% if search != False %}
                <input type="search" id="Search" name="Search" placeholder="Search" value="{{search}}">
            {% else %}
                <input type="search" id="Search" name="Search" placeholder="Search">
            {% endif %}

            <select class="form-select" aria-label="Advice Type" name="adviceType">
                {% if adviceType == 'Any' %}
                <option selected value="Any">Select Advice Type</option>
                {% else %}
                <option value="Any">Select Advice Type</option>
                {% endif %}

                {% if adviceType == 'Health' %}
                <option selected value="Health">Health</option>
                {% else %}
                <option value="Health">Health</option>
                {% endif %}

                {% if adviceType == 'Fitness' %}
                <option selected value="Fitness">Fitness</option>
                {% else %}
                <option value="Fitness">Fitness</option>
                {% endif %}

                {% if adviceType == 'Nutrition' %}
                <option selected value="Nutrition">Nutrition</option>
                {% else %}
                <option value="Nutrition">Nutrition</option>
                {% endif %}

            </select>
            <button type = "search" id = "Submit" name = "Submit" class="btn" 
            style="background-color: #1AAE73; color: white; margin-left: .4rem;">Search</button>
        </form>

        {% if search or adviceType != 'Any' %}
            <a href = '/advice' class="btn btn-secondary"style="margin-left: .4rem;">
                Clear Search</a>
        {% endif %}

        {% if admin %}
            <button class = "btn" style = "background-color: #1AAE73; color: white; float: right;"
            data-bs-toggle="modal" data-bs-target="#exampleModal">Create Advice</button>
        

        <!-- Modal for the advice creation -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <form class="modal-content" action="/create_advice" method="POST">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Create Advice</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div style="display: flex; flex-direction: row;">
                                <div style="padding: .5rem;">
                                    Advice Name <br>
                                    <input type="text" id="AdviceName" name="AdviceName" placeholder="Name">
                                </div>
                                <div style="padding: .5rem;">
                                    Advice Type
                                    <select class="form-select" aria-label="Advice Type" name="AdviceType" style="height: min-content; width:min-content;">
                                        <option selected value="Health">Health</option>
                                        <option value="Fitness">Fitness</option>
                                        <option value="Nutrition">Nutrition</option>
                                    </select>
                                </div>
                            </div>
                            <div style="padding: .5rem;">
                                Short Description <br>
                                <input type="text" id="AdviceShortDescription" name="AdviceShortDescription" placeholder="Short description for the advice" style="width: 100%;">
                            </div>
                            <div style="padding: .5rem;">
                                Long Description <br>
                                <input type="text" id="AdviceLongDescription" name="AdviceLongDescription" placeholder="Long description for the advice" style="width: 100%;">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn" style="background-color: #1AAE73; color: white; float: right;">Create Advice</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
    <hr style="border-top: 8px solid #bbb; border-radius:5px">
</div>

<div class="container">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        <!-- Inside the container for the cards -->
        {% for row in data %}
            <div style="padding: 1.5rem;">
                <div class="card" style="width:18rem;">
                    <div class="card-body" style="text-align:center;">
                        <h4>{{ row[1] }}</h4>
                        <hr>
                        <div class="card-text" style="min-height: 4rem;">{{ row[3] }}</div>
                        <div style="width: 100%; display:flex; flex-direction: column;">
                            <div class="card-text" style="padding-bottom: 10px;">Type: {{ row[4] }}</div>
                            <button class = "btn" style = "background-color: #1AAE73; color: white; float: right;"
                            data-bs-toggle="modal" data-bs-target="#AdviceModal{{ row[0]}}">View Advice</button>
                            {% if admin %}
                                <a href="/delete_advice/{{row[0]}}" class="btn btn-danger" style="margin-top: 1rem;">Delete Advice</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="AdviceModal{{ row[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ row[1] }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5 class="card-title">{{ row[1] }}</h5>
                            <p class="card-text">Type: {{ row[4] }}</p>
                            {{ row[2] }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if not data %}
            hi your search has nothing
        {% endif %}
    </div>
</div>

{% endblock %}